body{
  background-color: blue;
}
.full {
    width: 40%;
    margin: 2em auto;
    background-color: #394049;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
.botao {
    margin-top: 15px;
    border-radius: 7px;
    width: 30%;
    margin-left: 34%;
    cursor: pointer;
    height: 40px;
    background-color: aqua;
    font-weight: bold;
  }
  .botao:hover{
    background-color:cornflowerblue;
  }
h1{
    display: flex;
    margin-left: 30%;
}
.textozin{
    width: 49%;
    margin-left: 22%;
    border-radius: 7px;
}
h2{
    display: flex;
    justify-content: center;
}